.card-media {
    width: 100%;
}

.project-link{
    text-decoration: none;
}

.projects-card {
    height: 450px;
}

.projects-max-width {
    max-width: 100%;
    margin: auto;
}

@media (min-width: 600px) {
    .projects-max-width {
        width: 80%;
    }
}