.main-content {
    padding: 20px;
    margin: auto;
    overflow: auto;
    position: absolute;
    top:150px;
    bottom:0px;
    left:0px;
    right:0px;
}

body {
    height:100%;
    width:100%
}

.header {
    position:absolute;
    top:0px;
    left:0px;
    height:150px;
    right:0px;
    overflow:hidden;
}
